<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        
        <!-- Import Vega & Vega-Lite (does not have to be from CDN) -->
        <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
        <!-- Import vega-embed -->
        <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Covid-19 statistics</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </div>
        </nav>
        <form action="inputs" method="POST">
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="county">
                    {% for county, value in counties.items() %}
                        <option name="{{county}}" value={{value}}>{{county}}</option>
                    {% endfor %}
                </select>
                </div>
                Start date:
                <br>
                <input type="text" name="startDate" placeholder="YYYY-MM-DD">
                End date: 
                <br>
                <input type="text" name="endDate" placeholder="YYYY-MM-DD">
                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
        <h1 style="text-align:center">Statistikk for: {{county}}</h1>
        <h3 style="text-align:center">I tidsperioden {{start}} til {{end}}</h3>
        <div class="graphs">
            <div id="vis1"></div>
            <div id="vis2"></div>
            <div id="vis3"></div>
            <script type="text/javascript">
                function f(param) {return param;}
                var spec1 = f({{bar|safe}});
                vegaEmbed('#vis1', spec1).then(function(result) {
                    // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
                }).catch(console.error);
                var spec2 = f({{line|safe}});
                vegaEmbed('#vis2', spec2).then(function(result) {
                    // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
                }).catch(console.error);
                var spec3 = f({{both|safe}});
                vegaEmbed('#vis3', spec3).then(function(result) {
                    // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
                }).catch(console.error);
            </script>
        </div>
        
    </body>
</html>